{% macro start(id, title) %}
    <div id="{{ id }}" class="modal fade" role="dialog" data-controller="bootstrap-modal" data-action="data-table:select@document->bootstrap-modal#close">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
{% endmacro %}

{% macro end() %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
