{% macro start(id, title, close_events = ['data-table:select']) %}
    {% set dataActions = close_events|map(event => "#{event}@document->bootstrap-modal#close") %}
    <div id="{{ id }}" class="modal fade" role="dialog"
         data-controller="bootstrap-modal" {% if close_events is not empty %}data-action="{{ dataActions|join(' ') }}"{% endif %}>
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
{% endmacro %}

{% macro end() %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
