{% extends 'base.html.twig' %}

{% block title %}New AccountCategory{% endblock %}

{% block body %}
    <h1>Create new AccountCategory</h1>

    {{ include('master/account_category/_form.html.twig') }}

    <a href="{{ path('app_master_account_category_index') }}">back to list</a>
{% endblock %}
