{% extends 'layout_page.html.twig' %}

{% block title 'Edit Inventory' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_stock_inventory_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_stock_inventory_show', {'id': inventory.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('stock/inventory/_form.html.twig') }}
{% endblock %}
