{% extends 'layout_page.html.twig' %}

{% block title 'Edit Purchase Return Detail' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_transaction_purchase_return_detail_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_transaction_purchase_return_detail_show', {'id': purchaseReturnDetail.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('transaction/purchase_return_detail/_form.html.twig') }}
{% endblock %}
