{% extends 'layout_page.html.twig' %}

{% block title 'Edit Receive Detail' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_transaction_receive_detail_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_transaction_receive_detail_show', {'id': receiveDetail.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('transaction/receive_detail/_form.html.twig') }}
{% endblock %}
