{% extends 'layout_page.html.twig' %}

{% block title 'Add Item Box Key' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_access_point_item_box_key_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('access_point/item_box_key/_form.html.twig') }}
{% endblock %}
