<h6>Dashboard</h6>

<div>
    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th>PO Material</th>
                <th>PO Kertas</th>
                <th>Invoice Pembelian</th>
                <th>Order Penjualan</th>
                <th>Invoice Penjualan</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ purchaseOrderHeaderCount }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
