{% extends 'layout_page.html.twig' %}

{% block title 'Edit Sample' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_sample_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_sample_show', {'id': sample.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('sample/_form.html.twig') }}
{% endblock %}
