{% extends 'layout_page.html.twig' %}

{% block title 'Manage Sample' %}

{% block toolbar %}
    <a class="btn btn-success btn-sm" href="{{ path('app_sample_new') }}">Add</a>
{% endblock %}

{% block content %}
    {% set options = {name: form.vars.name, url: path('app_sample_index', {_format: 'json'})} %}
    <div {{ stimulus_controller('data-grid', options) }}>
        {{ include('sample/_list.html.twig') }}
    </div>
{% endblock %}
