{% extends 'layout_page.html.twig' %}

{% block title 'Add Sample' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_sample_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('sample/_form.html.twig') }}
{% endblock %}
