{% extends 'layout_page.html.twig' %}

{% block title 'Show Sample' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_sample_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_sample_edit', {'id': sample.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ sample.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ sample.price }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
