{% extends 'layout_page.html.twig' %}

{% block title 'Add Material Request Detail' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_stock_material_request_detail_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('stock/material_request_detail/_form.html.twig') }}
{% endblock %}
