{% extends 'layout_page.html.twig' %}

{% block title 'Edit Accounting Ledger' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_accounting_accounting_ledger_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_accounting_accounting_ledger_show', {'id': accountingLedger.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('accounting/accounting_ledger/_form.html.twig') }}
{% endblock %}
