@import '~bootstrap/dist/css/bootstrap';
@import '~flatpickr/dist/flatpickr';

body {
    background-color: white;
}

label.form-label, legend.col-form-label {
    text-transform: capitalize;
}

tbody:-moz-only-whitespace {
    display: none;
}
