{% extends 'layout_page.html.twig' %}

{% block title 'New Purchase Payment' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_transaction_purchase_payment_header_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('transaction/purchase_payment_header/_form.html.twig') }}
{% endblock %}
