{% extends 'layout_page.html.twig' %}

{% block title 'Add Journal Voucher Detail' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_accounting_journal_voucher_detail_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('accounting/journal_voucher_detail/_form.html.twig') }}
{% endblock %}
