{% extends 'base.html.twig' %}

{% block body %}
    {{ include('_page_header.html.twig') }}
    <div style="height: 72px"></div>
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-start">
                {% block tooltip %}
                    <h4>{{ block('title') }}</h4>
                {% endblock %}
            </div>
            <div class="col d-flex justify-content-end">
                <div class="d-gap">
                    {% block toolbar %}{% endblock %}
                </div>
            </div>
        </div>
        <hr />
        {% block content %}{% endblock %}
    </div>
{% endblock %}
