{% extends 'layout_page.html.twig' %}

{% block title 'Add Material Release Header' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_stock_material_release_header_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('stock/material_release_header/_form.html.twig') }}
{% endblock %}
