{% extends 'layout_page.html.twig' %}

{% block title 'Edit Work Order' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_production_work_order_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_production_work_order_show', {'id': workOrder.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('production/work_order/_form.html.twig') }}
{% endblock %}
