{% macro dialog(id, title, body) %}
    <div id="{{ id }}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    {{ body }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
