{% extends 'layout_page.html.twig' %}

{% block title 'Add Expense Detail' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_accounting_expense_detail_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('accounting/expense_detail/_form.html.twig') }}
{% endblock %}
