<form method="post" action="{{ path('app_stock_material_release_detail_delete', {'id': materialReleaseDetail.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ materialReleaseDetail.id) }}">
    <div class="d-grid">
        <button class="btn btn-danger btn-sm"
                data-controller="dom-element"
                data-action="dom-element#confirm"
                data-dom-element-confirm-message-param="Are you sure you want to delete this item?">
            Delete
        </button>
    </div>
</form>
