{% extends 'layout_page.html.twig' %}

{% block title 'Edit Material Release Detail' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_stock_material_release_detail_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_stock_material_release_detail_show', {'id': materialReleaseDetail.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('stock/material_release_detail/_form.html.twig') }}
{% endblock %}
