<form method="post" action="{{ path('app_transaction_purchase_invoice_header_delete', {'id': purchase_invoice_header.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ purchase_invoice_header.id) }}">
    <button class="btn">Delete</button>
</form>
