{% extends 'layout_page.html.twig' %}

{% block title 'New Purchase Order' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_transaction_purchase_order_header_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('transaction/purchase_order_paper/_form.html.twig') }}
{% endblock %}
